/*Copyright Ram Senthil github @ramenoodles*/

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

table{
    border: solid black 1px;
    overflow-y: auto;
}

tr:nth-child(even){ /* Even rows get light gray for readability */
    background-color: lightgray;
}

tr:nth-child(odd){ /* Odd rows get light blue for readability */
    background-color: lightcyan;
}

/*https://css-tricks.com/useful-nth-child-recipies/*/

td{
    padding: 5px;
    padding-right:5px;
    text-align: center;
}

thead th{
    position: sticky;
}


th{ /* Header styling for readability*/
    padding-left: 5px;
    padding-right: 5px;
    background-color: blue;
    color: white
}
